<div class="topbar" [style.height.px]="topbar_height">

    <!-- Left Section -->
    <div class="left-section">
      <button pButton class="back-button" pTooltip="Back" tooltipPosition="bottom" tooltipStyleClass="topbar-cs-tooltip">
        <i class="pi pi-angle-left"></i>
      </button>
      <button pButton class="bars-button">
        <i class="pi pi-bars"></i>
      </button>
      <span *ngIf="!isEditing" class="project-name" (click)="toggleInput()">unnamed</span>
      <input
        *ngIf="isEditing"
        pInputText
        type="text"
        [(ngModel)]="inputValue"
        class="rounded-input"
        (blur)="closeInput()"
        (keyup.enter)="submitInput()"
      />
      <span class="badge free-badge">Free</span>
      <div class="separator"></div>
      <button pButton class="back-button" pTooltip="Undo" tooltipPosition="bottom" tooltipStyleClass="topbar-cs-tooltip">
        <i class="pi pi-undo"></i>
      </button>
      <button pButton class="back-button" pTooltip="Redo" tooltipPosition="bottom" tooltipStyleClass="topbar-cs-tooltip">
        <i class="pi pi-undo" style="transform: scaleX(-1)"></i>
      </button>
    </div>

    <!-- Middle Section -->
    <div class="middle-section">
      <button pButton pTooltip="Take control (Ctrl+X)" tooltipPosition="bottom" class="labeled-button" tooltipStyleClass="topbar-cs-tooltip">
        <i class="pi pi-desktop"></i>
        <span>Topic</span>
      </button>
      <div class="separator"></div>
      <button pButton pTooltip="Pop out" tooltipPosition="bottom" class="labeled-button" tooltipStyleClass="topbar-cs-tooltip">
        <i class="pi pi-external-link"></i>
        <span>Sub Topic</span>
      </button>
      <button pButton pTooltip="Chat" tooltipPosition="bottom" class="labeled-button" tooltipStyleClass="topbar-cs-tooltip">
        <i class="pi pi-comments"></i>
        <span>Chat</span>
      </button>
      <button pButton pTooltip="People" tooltipPosition="bottom" class="labeled-button" tooltipStyleClass="topbar-cs-tooltip">
        <i class="pi pi-th-large"></i>
        <span>View</span>
      </button>
      <div class="separator"></div>
      <button pButton pTooltip="Chat" tooltipPosition="bottom" class="labeled-button" tooltipStyleClass="topbar-cs-tooltip">
        <i class="pi pi-file"></i>
        <span>Note</span>
      </button>
      <button pButton pTooltip="People" tooltipPosition="bottom" class="labeled-button" tooltipStyleClass="topbar-cs-tooltip">
        <i class="pi pi-plus"></i>
        <span>Apps</span>
      </button>
    </div>

    <!-- Middle Section
    <div class="middle-section">
      <div class="icon-button" pTooltip="Topic Of The APP" tooltipPosition="bottom" tooltipStyleClass="custom-tooltip">
        <i class="pi pi-th-large"></i>
        <span class="lg-text">Topic</span>
      </div>
      <div class="icon-button">
        <i class="pi pi-sitemap"></i>
        <span class="lg-text">Sub Topic</span>
      </div>
      <div class="divider"></div>
      <div class="icon-button">
        <i class="pi pi-refresh"></i>
        <span class="lg-text">Relationship</span>
      </div>
      <div class="icon-button">
        <i class="pi pi-comment"></i>
        <span class="lg-text">Callout</span>
      </div>
      <div class="icon-button">
        <i class="pi pi-plus"></i>
        <span class="lg-text">Insert</span>
      </div>
    </div> -->

    <!-- tooltops
    <ng-template #tooltipContent>
      <div class="flex align-items-center">
          <span> <b>PrimeNG</b> rocks! </span>
      </div>
    </ng-template> -->

    <!-- Right Section -->
    <div class="right-section">
      <div class="separator"></div>
      <button pButton class="back-button" pTooltip="Save" tooltipPosition="bottom" tooltipStyleClass="topbar-cs-tooltip">
        <i class="pi pi-save"></i>
      </button>
      <button pButton label="Upgrade for Free" class="p-button-warning upgrade-button"></button>
      <button pButton label="Export" class="p-button-outlined"></button>
      <button pButton label="Share" class="p-button-black"></button>
      <div class="separator"></div>
      <span class="avatar">M</span>
    </div>
  </div>
