:host ::ng-deep {

  /* General Styling */
  .topbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(254, 254, 254);
    padding: 10px 10px;
    border-bottom: 1px solid rgb(232, 232, 232);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  /* Left Section */
  .left-section {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .icon-dashboard {
    background: url('../../../../assets/icons/editor/wizard.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 16px;
    width: 23px;
  }

  .icon-undo {
    background: url('../../../../assets/icons/editor/turn-left.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 20px;
    width: 20px;
  }

  .icon-redo {
    background: url('../../../../assets/icons/editor/turn-right.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 20px;
    width: 20px;
  }

  .icon-delete {
    background: url('../../../../assets/icons/editor/delete-1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 20px;
    width: 20px;
  }

  /* text input */
  .project-name {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 12px;
    max-width: 100%;
    overflow: hidden;
    cursor: pointer;
    /* text style */
    font-family: Poppins;
    line-height: 16px;
    font-size: 12px;
    font-weight: 500;
    color: rgb(3, 3, 3);
    font-variant-ligatures: no-common-ligatures;
    letter-spacing: -0.1px;
  }

  .project-name:hover {
    background-color: rgb(232, 232, 232);
  }

  .free-badge {
    background-color: rgb(232, 232, 232);
    cursor: pointer;
    color: rgb(3, 3, 3);
    font-size: 12px;
    font-weight: 500;
    padding: 4px 6px;
    border-radius: 8px;
    opacity: 0.8;
  }

  .pro-badge {
    background-color: rgb(164, 180, 252);
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 500;
    padding: 4px 6px;
    border-radius: 8px;
    opacity: 1;
  }

  .undo-redo-btn {
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 12px;
    background-color: transparent;
    cursor: pointer;
    padding: 8px 8px;
    text-align: center;
    transition: background-color 0.3s ease;
  }

  .undo-redo-btn:hover {
    background-color: rgb(232, 232, 232);
  }

  /* Middle Section */
  .icon-editor-tab {
    background: url('../../../../assets/icons/editor/editor.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 22px;
    width: 22px;
  }

  .icon-chart-tab {
    background: url('../../../../assets/icons/editor/chart.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 22px;
    width: 22px;
  }

  .icon-split-h-tab {
    background: url('../../../../assets/icons/editor/split-h.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 22px;
    width: 22px;
  }

  .icon-split-v-tab {
    background: url('../../../../assets/icons/editor/split-v.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 22px;
    width: 22px;
  }

  .icon-play {
    background: url('../../../../assets/icons/editor/play_1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 28px;
    width: 28px;
  }

  .icon-validate {
    background: url('../../../../assets/icons/editor/check_1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 28px;
    width: 28px;
  }

  .middle-section {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .layout-tab-switch {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: rgb(240, 240, 240);
    border: none;
    border-radius: 12px;
    color: rgb(3, 3, 3);
    cursor: pointer;
    padding: 5px 5px;
    transition: background-color 0.3s ease;
  }

  .layout-tab-switch .p-button {
    padding: 5px;
    color: rgb(3, 3, 3);
  }

  .layout-tab-switch-btn-unselected {
    background-color: rgb(240, 240, 240);
    border: none;
    border-radius: 12px;
  }

  .layout-tab-switch-btn-unselected:hover {
    background-color: rgb(222, 222, 222);
    border: none;
    border-radius: 6px;
  }

  .layout-tab-switch-btn-selected {
    background-color:  rgb(254, 254, 254);
    box-shadow: rgba(3, 3, 3, 0.08) 0px 2px 8px;
    border: none;
    border-radius: 6px;
  }

  .layout-tab-switch i {
    font-size: 14px;
    font-weight: 500;
  }

  /* Larger undo button styling */
  .large-undoredo {
    font-size: 20px;
    padding: 12px 20px;
    height: 50px;
    width: 50px;
  }

  /* Right Section */
  .icon-comment {
    background: url('../../../../assets/icons/editor/comment.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 20px;
    width: 20px;
  }

  .icon-export {
    background: url('../../../../assets/icons/editor/download-1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 20px;
    width: 20px;
  }

  .icon-share {
    background: url('../../../../assets/icons/editor/share-1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 20px;
    width: 20px;
  }

  .right-section {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .icon-button {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    cursor: pointer;
  }

  .icon-button i {
    font-size: 18px;
  }

  .divider {
    height: 24px;
    width: 1px;
    background-color: #ddd;
    margin: 0 10px;
  }

  .upgrade-button {
    background-color: #fbe9e7;
    color: #e65100;
    font-weight: bold;
    border: none;
  }

  .p-button-black {
    background-color: #000;
    color: white;
    border: none;
  }

  .avatar {
    background-color: #e57373;
    color: white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
  }

  /* Manage small screens */
  .lg-text {
    display: block;
  }

  @media (max-width: 768px) {
    .lg-text {
      display: none;
    }
  }

  /* back to workspace button*/
  .back-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    cursor: pointer;
    padding: 16px 10px;
    text-align: center;
    transition: background-color 0.3s ease;
  }

  .back-button i {
    font-size: 20px;
  }

  .back-button:hover {
    background-color: #d9d9da;
    border-radius: 4px;
    color: blue;
  }

  /* bars menu button*/
  .bars-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    cursor: pointer;
    padding: 16px 12px;
    text-align: center;
    transition: background-color 0.3s ease;
  }

  .bars-button i {
    font-size: 20px;
  }

  .bars-button:hover {
    background-color: #d9d9da;
    border-radius: 4px;
    color: blue;
  }


  /* main menu buttons style */
  .labeled-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 12px;
    background: none;
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    transition: background-color 0.3s ease;
    color: rgb(3, 3, 3);
  }

  .labeled-button i {
    font-size: 14px;
  }

  .labeled-button span {
    margin-top: 2px;
    margin-left: 4px;
    margin-right: 4px;
    /* text style */
    font-family: Poppins;
    line-height: 16px;
    font-size: 12px;
    font-weight: 500;
    color: rgb(3, 3, 3);
    font-variant-ligatures: no-common-ligatures;
    letter-spacing: -0.1px;
  }

  .labeled-button:hover span {
    color: rgb(3, 3, 3);
  }

  .labeled-button:hover {
    background-color: rgb(232, 232, 232);
    border-radius: 12px;
    color: rgb(3, 3, 3);
  }

  .separator {
    width: 1px;
    height: 30px;
    background-color: #e4e4e4;
    margin: 0 5px;
  }

}
