<div class="topbar" [style.height.px]="topbar_height">
  <!-- Left Section -->
  <div class="left-section">
    <button pButton class="back-button" pTooltip="Back to Dashboard" tooltipPosition="right"
      tooltipStyleClass="topbar-rigt-btn-cs-tooltip">
      <i class="icon-dashboard"></i>
    </button>
    <span [ngClass]="subscriptionBadge"> {{subscription}} </span>
    <div class="separator"></div>
    <span class="project-name" (click)="projectRename()" pTooltip="Raname Project" tooltipPosition="bottom"
    tooltipStyleClass="topbar-bottom-cs-tooltip">{{projectName}}</span>
    <div class="separator"></div>
    <button pButton class="undo-redo-btn" pTooltip="Undo (Ctrl+Z)" tooltipPosition="bottom" tooltipStyleClass="topbar-bottom-cs-tooltip">
      <i class="icon-undo"></i>
    </button>
    <button pButton class="undo-redo-btn" pTooltip="Redo (Ctrl+Y)" tooltipPosition="bottom" tooltipStyleClass="topbar-bottom-cs-tooltip">
      <i class="icon-redo"></i>
    </button>
    <button pButton class="undo-redo-btn" pTooltip="Delete (Canc)" tooltipPosition="bottom" tooltipStyleClass="topbar-bottom-cs-tooltip">
      <i class="icon-delete"></i>
    </button>
  </div>

  <!-- Middle Section -->
  <div class="middle-section">
    <div class="separator"></div>
    <div class="layout-tab-switch">
      <button pButton [pTooltip]="editorTabSwitchLabel" tooltipPosition="bottom" [ngClass]="editorTabSwitch"
        tooltipStyleClass="topbar-layout-tab-switch-cs-tooltip" (click)="layoutTabSwitch(editorTabSwitchLabel)">
        <i class="icon-editor-tab"></i>
      </button>
      <button pButton [pTooltip]="chartTabSwitchLabel" tooltipPosition="bottom" [ngClass]="chartTabSwitch"
        tooltipStyleClass="topbar-layout-tab-switch-cs-tooltip" (click)="layoutTabSwitch(chartTabSwitchLabel)">
        <i class="icon-chart-tab"></i>
      </button>
      <button pButton [pTooltip]="splitHorzTabSwitchLabel" tooltipPosition="bottom" [ngClass]="splitHorzTabSwitch"
        tooltipStyleClass="topbar-layout-tab-switch-cs-tooltip" (click)="layoutTabSwitch(splitHorzTabSwitchLabel)">
        <i class="icon-split-v-tab"></i>
      </button>
      <button pButton [pTooltip]="splitVertTabSwitchLabel" tooltipPosition="bottom" [ngClass]="splitVertTabSwitch"
        tooltipStyleClass="topbar-layout-tab-switch-cs-tooltip" (click)="layoutTabSwitch(splitVertTabSwitchLabel)">
        <i class="icon-split-h-tab"></i>
      </button>
    </div>
    <div class="separator"></div>
  </div>

  <!-- Right Section -->
  <div class="right-section">
    <div class="separator"></div>
    <button pButton pTooltip="Take control (Ctrl+X)" tooltipPosition="bottom" class="labeled-button"
      tooltipStyleClass="topbar-bottom-cs-tooltip">
      <i class="icon-comment"></i>
      <span>Comments</span>
    </button>
    <button pButton pTooltip="Take control (Ctrl+X)" tooltipPosition="bottom" class="labeled-button"
    tooltipStyleClass="topbar-bottom-cs-tooltip">
    <i class="icon-export"></i>
    <span>Exports</span>
    </button>
    <button pButton pTooltip="Take control (Ctrl+X)" tooltipPosition="bottom" class="labeled-button"
    tooltipStyleClass="topbar-bottom-cs-tooltip">
    <i class="icon-share"></i>
    <span>Exports</span>
    </button>
    <button pButton label="Upgrade for Free" class="p-button-warning upgrade-button"></button>
    <button pButton label="Export" class="p-button-outlined"></button>
    <button pButton label="Share" class="p-button-black"></button>
    <span class="avatar">M</span>
    <!-- <div class="separator"></div>
    <button pButton class="back-button" pTooltip="Save" tooltipPosition="bottom" tooltipStyleClass="topbar-cs-tooltip">
      <i class="pi pi-save"></i>
    </button>
    <button pButton label="Upgrade for Free" class="p-button-warning upgrade-button"></button>
    <button pButton label="Export" class="p-button-outlined"></button>
    <button pButton label="Share" class="p-button-black"></button>
    <div class="separator"></div>
    <span class="avatar">M</span>-->
  </div>
</div>
