<div class="center-container">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <div class="text-center mb-5">
      <img src="assets/images/blocks/logos/hyper.svg" alt="Image" height="50" class="mb-3">
      <div class="text-900 text-3xl font-medium mb-3">Welcome Back</div>
      <span class="text-600 font-medium line-height-3">Have already an account?</span>
      <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" [routerLink]="'/login'">Sign In!</a>
    </div>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">

      <label for="password1" class="block text-900 font-medium mb-2">Password</label>
      <input id="password1" type="password" placeholder="Password" pInputText class="w-full mb-3"
        formControlName="password1" name="password1" />

      <label for="password2" class="block text-900 font-medium mb-2">Password</label>
      <input id="password2" type="password" placeholder="Confirm Password" pInputText class="w-full mb-3"
        formControlName="password2" name="password2" [ngClass]="{
          'border-red': (passwordsMismatch || resetPasswordForm.get('password2')?.invalid) && resetPasswordForm.get('password2')?.touched
        }" />

      <button pButton pRipple label="Reset" icon="pi pi-user" class="w-full"></button>
    </form>
  </div>
</div>
