.dashboard {
  .card {
    padding: 20px;
    border-radius: 8px;
    background-color: white;

    h4 {
      margin-bottom: 10px;
      font-size: 16px;
    }

    p {
      font-size: 24px;
      margin: 0;
    }
  }
}
