<div class="flex align-items-center justify-content-center min-h-screen">
  <div
    class="p-6 shadow-2 text-center lg:w-30rem"
    style="
      border-radius: 12px;
      background: linear-gradient(
        135deg,
        rgba(0, 0, 0, 0.8),
        rgba(50, 50, 50, 0.6)
      );
      color: rgba(255, 255, 255, 0.8);
      backdrop-filter: blur(10px);
    "
  >
    <div class="text-4xl font-medium mb-6">Welcome</div>

    <input
      type="text"
      [(ngModel)]="email"
      class="appearance-none border-none p-3 w-full outline-none text-xl block mb-4"
      placeholder="Email"
      style="
        border-radius: 30px;
        background: rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.8);
      "
    />

    <input
      type="password"
      [(ngModel)]="password"
      class="appearance-none border-none p-3 w-full outline-none text-xl mb-4"
      placeholder="Password"
      style="
        border-radius: 30px;
        background: rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.8);
      "
    />

    <button
      type="button"
      class="appearance-none border-none p-3 w-full outline-none text-xl mb-4 font-medium cursor-pointer transition-colors transition-duration-150"
      style="
        border-radius: 30px;
        background: rgba(255, 255, 255, 0.2);
        color: rgba(255, 255, 255, 0.9);
      "
      (click)="loginUser()"
    >
      Sign In
    </button>

    <a
      class="cursor-pointer font-medium block text-center"
      [routerLink]="'/forgot-password'"
    >
      Forgot Password?
    </a>
  </div>
</div>
