<div class="p-grid p-align-center p-justify-center">
  <div class="p-col-12 p-text-center">
    <h2>Get access to the specific page...</h2>
  </div>
  <div class="button-container">
    <button pButton class="custom-button custom-color-1" [routerLink]="'/landing-page'">
      <span class="button-text">
        Landing Page
        <br />
        <small>Login and Other...</small>
      </span>
    </button>
    <button pButton class="custom-button custom-color-2" [routerLink]="'/workspace'">
      <span class="button-text">
        Workspace
        <br />
        <small>Manage Projects...</small>
      </span>
    </button>
    <button pButton class="custom-button custom-color-3" [routerLink]="'/editor'">
      <span class="button-text">
        Editor
        <br />
        <small>Simulator Entry Point...</small>
      </span>
    </button>
    <button pButton class="custom-button custom-color-4" [routerLink]="'/testpage'">
      <span class="button-text">
        TestPage
        <br />
        <small>Wasm Testing Point...</small>
      </span>
    </button>
    <button pButton class="custom-button custom-color-4" [routerLink]="'/chat-gpt'">
      <span class="button-text">
        Licke ChatGPT
        <br />
        <small>Licke ChatGPT...</small>
      </span>
    </button>
  </div>
</div>
