 <div class="editor-toolbar">
      <button
        pButton
        label="Run Simulation"
        icon="pi pi-play"
        [disabled]="(isRunning$ | async) || false"
        (click)="onRunClick()">Run Simulation
      </button>

      <ng-container *ngIf="job$ | async as job">
        <!-- <integra-simulation-progress-bar
          *ngIf="job.state === SimulationState.Running || job.state === SimulationState.Completed"
          [progress]="job.lastProgress?.percent ?? 0"
          [phase]="job.lastProgress?.phase ?? ''"
          [state]="job.state">
        </integra-simulation-progress-bar> -->
      </ng-container>
    </div>

    <!-- qui sotto il tuo JointJS editor, charts, ecc. -->
