<section class="surface-section px-1 py-1 md:px-6 lg:px-4">
  <div class="flex flex-wrap gap-3 justify-content-between align-items-center mb-5">
    <div class="flex flex-column gap-2">
      <h1 class="m-0 text-900 text-3xl font-medium line-height-3">Start creating</h1>
    </div>
    <div class="flex flex-wrap align-items-center gap-3">
      <div class="view-toggle flex ml-3">
        <a pRipple class="flex p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer
                        transition-duration-150 transition-colors">
          <i class="pi pi-bell text-base lg:text-2xl mr-2 lg:mr-0" pBadge severity="danger"></i>
          <span class="block lg:hidden font-medium">Notifications</span>
        </a>
      </div>
    </div>
  </div>
  <div class="grid justify-content-start gap-3 p-3">
    <!-- Card 1 -->
    <div class="col-12 sm:col-6 md:col-2 lg:col-2">
      <div
        class="card-container-custom flex flex-column align-items-center justify-content-center p-4 border-round shadow-2 bg-white">
        <div class="icon-container bg-gray-200 flex align-items-center justify-content-center border-round p-2 mb-3">
          <i class="pi pi-plus text-3xl text-600"></i>
        </div>
        <div class="text-center font-medium text-900">New blank project</div>
      </div>
    </div>
    <div class="col-12 sm:col-6 md:col-2 lg:col-2">
      <div
        class="card-container-custom flex flex-column align-items-center justify-content-center p-4 border-round shadow-2"
        style="background: linear-gradient(to bottom, #ffe6d5, #ffffff);">
        <div class="icon-container bg-white flex align-items-center justify-content-center border-round p-2 mb-3">
          <i class="pi pi-clone text-3xl text-orange-500"></i>
        </div>
        <div class="text-center font-medium text-900">Start from template</div>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <div class="flex flex-column gap-2">
      <h1 class="m-0 text-900 text-3xl font-medium line-height-3">Projects</h1>
    </div>
    <ul class="flex align-items-center overflow-x-auto gap-3 px-2 py-3 list-none border-bottom-1 surface-border">
      <li><button pButton pRipple icon="pi pi-user" (click)="activeTabAction = 'myProjects'" label="My Projects"
          [ngClass]="{'p-button-text text-700': activeTabAction !== 'profile'}"></button></li>
      <li><button pButton pRipple icon="pi pi-globe" (click)="activeTabAction = 'collaborateProjects'"
          label="Collaborate with me" [ngClass]="{'p-button-text text-700': activeTabAction != 'website'}"></button>
      </li>
      <li><button pButton pRipple icon="pi pi-shield" (click)="activeTabAction = 'shareProjects'" label="My Shares"
          [ngClass]="{'p-button-text text-700': activeTabAction != 'privacy'}"></button></li>
    </ul>
  </div>
  <div class="grid">
    <div class="col-6 sm:col-4 md:col-2 p-2" *ngFor="let project of filteredProjects">
      <div class="surface-card shadow-2 border-round p-3 card-container">
        <!-- Immagine con effetto hover -->
        <div class="image-container">
          <img src="assets/images/blocks/nature/nature-1.png" class="mb-3 w-full project-image" />
          <!-- Puntini sopra l'immagine -->
          <div class="ellipsis-menu" (click)="menu.toggle($event)">
            <i class="pi pi-ellipsis-h"></i>
          </div>
          <!--<img [src]="project.image || 'https://via.placeholder.com/200x100.png?text=Project+Image'"
            alt="{{ project.name }}" class="project-image" />-->
          <p-overlayPanel #menu [dismissable]="true">
            <ul class="list-none p-0 m-0 menu-list">
              <li class="menu-item" (click)="onMenuItemClick('open', project, menu)">
                <i class="pi pi-folder-open mr-2"></i> Open Project
              </li>
              <li class="menu-item" (click)="onMenuItemClick('openInNewTab', project, menu)">
                <i class="pi pi-external-link mr-2"></i> Open in New Tab
              </li>
              <p-divider></p-divider>
              <li class="menu-item" (click)="inviteToCollaborate(project)">
                <i class="pi pi-users mr-2"></i> Invite to Collaborate
              </li>
              <li class="menu-item" (click)="makeCopy(project)">
                <i class="pi pi-copy mr-2"></i> Make a Copy
              </li>
              <p-divider></p-divider>
              <li class="menu-item" (click)="delete(project)">
                <i class="pi pi-trash mr-2"></i> Delete
              </li>
            </ul>
          </p-overlayPanel>
        </div>

        <!-- Dettagli del progetto -->
        <div class="flex flex-column align-items-center justify-content-center mt-3">
          <div>
            <div class="text-xl font-medium text-900 mb-2">{{ project.name }}</div>
            <p class="mt-0 mb-3 text-600">{{ project.size }}</p>
          </div>
        </div>
        <ul class="list-none m-0 p-0">
          <li class="px-0 py-2 flex justify-content-between align-items-center border-bottom-1 surface-border">
            <span class="text-600 font-medium text-sm">Created</span>
            <span class="text-900 font-medium text-sm">{{ project.created }}</span>
          </li>
          <li class="px-0 py-2 flex justify-content-between align-items-center border-bottom-1 surface-border">
            <span class="text-600 font-medium text-sm">Dimensions</span>
            <span class="text-900 font-medium text-sm">{{ project.dimensions }}</span>
          </li>
          <li class="px-0 py-2 flex justify-content-between align-items-center">
            <span class="text-600 font-medium text-sm">Resolution</span>
            <span class="text-900 font-medium text-sm">{{ project.resolution }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<integra-add-projects *ngIf="visiblePopUp" [visible]="visiblePopUp" [project]="projectEmpty"
  (create)="createProject($event)" (close)="closePopup()"></integra-add-projects>
