:host ::ng-deep {

  .custom-sidebar {
    width: 250px;
    background-color: transparent;
    border-right: 1px solid #e0e0e0;
    padding: 10px 0;
  }

  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .min-h-screen {
    min-height: 0px !important;
  }

  .h-full {
    height: calc(100vh - 90px) !important;
  }

  li:hover {
    color: rgb(44, 44, 202);
    transform: scale(1.05);
  }

  ul {
    overflow: hidden;
  }

  .text-lg {
    font-size: 1.8rem !important;
  }

  .active-selector {
    background-color: lightgray;
  }

  .image-with-text {
    display: flex;
    flex-direction: column;
    /* Stack image and text vertically */
    align-items: center;
    /* Center content horizontally */
    gap: 10px;
    /* Add spacing between the image and text */
  }

  .image-with-text p {
    margin: 0px;
    /* Add some spacing between the image and text */
    font-size: 12px;
    /* Adjust text size as needed */
  }

  /* Disabled hover styles */
  .hover-enabled {
    pointer-events: auto;
    cursor: pointer;
  }

  /* Disabled hover styles */
  .hover-disabled {
    pointer-events: none;
    cursor: default;
  }

  .icon-add {
    background: url('../../../../../assets/icons/editor/add.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 18px;
    width: 18px;
  }

  .add-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(232, 232, 232);
    cursor: pointer;
    color: rgb(3, 3, 3);
    font-size: 12px;
    font-weight: 500;
    padding: 6px 12px;
    border-radius: 8px;
    opacity: 0.8;
  }

}
