<div class="ribbon-menu">
  <div class="ribbon-section">
    <div class="ribbon-container">
      <button pButton class="label-button" type="button" [style.width.px]="width" [style.height.px]="height">
        <span class="pi pi-download"></span>
        <span class="label-button-label">New Scripts</span>
      </button>
      <button pButton class="label-button" type="button" [style.width.px]="width" [style.height.px]="height">
        <span class="pi pi-download"></span>
        <span class="label-button-label">Import Script</span>
      </button>
      <button pButton class="label-button" type="button" [style.width.px]="width" [style.height.px]="height">
        <span class="pi pi-download"></span>
        <span class="label-button-label">Import Data</span>
      </button>
    </div>
    <div class="ribbon-title">
      SETTINGS
    </div>
  </div>
  <div class="ribbon-divider"></div>
  <div class="ribbon-section">
    <div class="ribbon-container">
      <button pButton class="label-button" type="button" [style.width.px]="width" [style.height.px]="height">
        <span class="pi pi-download"></span>
        <span class="label-button-label">Import Data</span>
      </button>
    </div>
    <div class="ribbon-title">
      EDITOR
    </div>
  </div>
  <div class="ribbon-divider"></div>
  <div class="ribbon-section">
    <div class="ribbon-container">
      <button pButton class="label-button" type="button" [style.width.px]="width" [style.height.px]="height">
        <span class="pi pi-download"></span>
        <span class="label-button-label">Import Data</span>
      </button>
    </div>
    <div class="ribbon-title">
      RUN
    </div>
  </div>
  <div class="ribbon-divider"></div>
  <div class="ribbon-section">
    <div class="ribbon-container">
      <button pButton class="label-button" type="button" [style.width.px]="width" [style.height.px]="height">
        <span class="pi pi-download"></span>
        <span class="label-button-label">New Scripts</span>
      </button>
      <button pButton class="label-button" type="button" [style.width.px]="width" [style.height.px]="height">
        <span class="pi pi-download"></span>
        <span class="label-button-label">Import Script</span>
      </button>
      <button pButton class="label-button" type="button" [style.width.px]="width" [style.height.px]="height">
        <span class="pi pi-download"></span>
        <span class="label-button-label">Import Data</span>
      </button>
    </div>
    <div class="ribbon-title">
      SETTINGS
    </div>
  </div>
</div>
