:host ::ng-deep {

  .min-h-screen {
    min-height: 0px !important;
  }

  .h-full {
    height: calc(100vh - 90px) !important;
  }

  li:hover {
    color: rgb(44, 44, 202);
    transform: scale(1.05);
  }

  ul {
    overflow: hidden;
  }

  .text-lg {
    font-size: 1.8rem !important;
  }

  .active-selector {
    background-color: lightgray;
  }

  .image-with-text {
    display: flex;
    flex-direction: column;
    /* Stack image and text vertically */
    align-items: center;
    /* Center content horizontally */
    gap: 10px;
    /* Add spacing between the image and text */
  }

  .image-with-text p {
    margin: 0px;
    /* Add some spacing between the image and text */
    font-size: 12px;
    /* Adjust text size as needed */
  }

  /* Disabled hover styles */
  .hover-enabled {
    pointer-events: auto;
    cursor: pointer;
  }

  /* Disabled hover styles */
  .hover-disabled {
    pointer-events: none;
    cursor: default;
  }

}
